{{#partial "content"}}

    {{#if editMember}}
        <h1>Edit this Profile!</h1>
        <form action="/members/{{editMember.id}}/update" method="post">
            <label for="name">Edit this member's name</label>
            <br>
            <br>
            <input id="name" name="name" type="text" value="{{editMember.name}}">
            <br>
            <br>
            <label for="contact">Edit this member's email address</label>
            <br>
            <br>
            <input id="contact" name="contact" type="text" value="{{editMember.contact}}">
            <label for="team">Hack Team</label>
            <select id="team" name="team">
                {{#if teams}}
                    {{#each teams}}
                        <option value="{{id}}">{{title}}</option>
                    {{/each}}
                {{/if}}
            </select>
            <button type="submit" class="btn btn-default">Update</button>

    {{else}}
            <h1>Register a Participant!</h1>

        <form action="/members/new" method="post">
            <label for="name">Participant's Name (legal or otherwise)</label>
            <br>
            <br>
            <input id="name" name="name" type="text">
            <br>
            <br>
            <label for="contact">Participant's email address</label>
            <br>
            <br>
            <input id="contact" name="contact" type="text">
            <br>
            <br>
            <label for="team">Join a Hack Team (required for registration, but you may switch teams at any time)</label>
            <br>
            <br>
            <select id="team" name="team">
                {{#if teams}}
                    {{#each teams}}
                        <option value="{{id}}">{{title}}</option>
                    {{/each}}
                {{/if}}
            </select>
            <button type="submit" class="btn btn-default">Register</button>
    {{/if}}

    </form>
{{/partial}}

{{> layout.hbs}}