{{#partial "content"}}
    <h5>{{team.title}}</h5>
    <p>{{team.description}}</p>

    {{#if members}}
        <br>
    <p>Here are all the members listed in {{team.title}}</p>

    <ul>
        {{#each members}}
            <li>
                <p> {{name}}</p>
                <p> {{contact}}</p>

                <br>
                <a href="/members/{{id}}/update">Edit this team member's information</a><br>
                <a href="/members/{{id}}/delete">Remove this member from the team</a>
            </li>
        {{/each}}
    </ul>
    {{else}}
        <p>This team doesn't have any members yet.</p>
    {{/if}}
    <a href="/teams/update">Update a Hack team</a><br>
    <a href="/teams/{{team.id}}/delete">DELETE this team (These things cannot be undone)</a>



{{/partial}}

{{> layout.hbs}}